sudo: false
language: node_js
node_js:
  - "16"
branches:
  only:
    - master
    - sd-upgrade-angular
cache:
  directories:
    - node_modules
before_install:
  - npm update
install:
  - npm install
script:
  - npm run coveralls
